.App {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.AppBody {
    width: 70%;
}

.sz {
    font-size: 1.3rem !important;
}

nav {
    display: flex;
    justify-content: center;
}

nav .btn {
    margin: 1rem;
}

.max {
    width: 100%;
}

.m-top {
    margin-top: 1rem;
}

.Trash {
    position: relative;
    margin-left: 1rem;
    width: 1rem;
    height: 1rem;    
}

.Find {
    width: 100%;
}

.NameBox {
    width: 100%;
}